/* 
- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Orange: hsl(26, 100%, 55%)
- Pale orange: hsl(25, 100%, 94%)

### Neutral

- Very dark blue: hsl(220, 13%, 13%)
- Dark grayish blue: hsl(219, 9%, 45%)
- Grayish blue: hsl(220, 14%, 75%)
- Light grayish blue: hsl(223, 64%, 98%)
- White: hsl(0, 0%, 100%)
- Black (with 75% opacity for lightbox background): hsl(0, 0%, 0%)

## Typography

### Body Copy

- Font size (paragraph): 16px

### Font

- Family: [Kumbh Sans](https://fonts.google.com/specimen/Kumbh+Sans)
- Weights: 400, 700 */

:root {
  --cl-pr-orange: hsl(26, 100%, 55%);
  --cl-pr-pale-orange: hsl(25, 100%, 94%);

  --cl-na-dark-blue: hsl(220, 13%, 13%);
  --cl-na-dark-gray-blue: #68707d;
  --cl-na-gray-blue: hsl(220, 14%, 75%);
  --cl-na-light-gray-blue: hsl(223, 64%, 98%);
  --cl-na-white: #ffffff;

  --cl-na-black-opacity75: hsla(0, 0%, 0%, 75%);
  --ff-main: "Kumbh Sans", sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: var(--ff-main);
}

body{
  height: 100vh;
}


img,
svg,
picture {
  max-width: 100%;
  display: block;
}

body {
  box-sizing: border-box;
}

h1 {
  font-size: 4.4rem;
  line-height: 4.8rem;
  font-weight: 700;
  color: var(--cl-na-dark-blue);
}

h2 {
  font-size: 2.8rem;
  font-weight: 700;
  color: var(--cl-na-dark-blue);
}

h3 {
  font-size: 1.3rem;
  letter-spacing: 2px;
  font-weight: 700;
  color: var(--cl-pr-orange);
  text-transform: uppercase;
}

h4 {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--cl-na-dark-gray-blue);
  text-decoration: line-through;
}

p {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--cl-na-dark-gray-blue);
}


/* ======   NAV Bar  ======  */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a,
a:visited,
a:focus {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--cl-na-dark-gray-blue);
  text-decoration: none;
}

.website__links {
  display: flex;
  gap: 3.6rem;
}

.cart_and_profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.avatar {
  height: 5rem;
  width: 5rem;
}


/* ======   MAIN Block  ======  */

main{
  height: 90%;
}

.main__container{
  height: 100%;
  display:grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.grid__gallery{

}

.gallery-main-img {
  aspect-ratio: 1/1;
  width: 44.5rem;
  border-radius: 10rem;
}

.gallery-main-img img {
  border-radius: 4rem;
}



.how__many {
  height: 5.6rem;
  width: 15.7rem;

  background-color: var(--cl-na-light-gray-blue);
  border-radius: 2px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn__cart {
  background: none;
  border: none;
  font-size: 3rem;
  color: var(--cl-pr-orange);
  cursor: pointer;
  height: 100%;
  width: 4rem;
}

.product__add-cart {
  display: flex;
  gap: 2rem;
}

.cta_btn_addToCart {
  background-color: var(--cl-pr-orange);
  height: 5.6rem;
  width: 27.2rem;
  color: var(--cl-na-white);
  text-decoration: none;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.6rem;
}
.cart-logo {
  object-fit: cover;
  background-image: url(images/icon-cart.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 1.6rem;
  width: 1.6rem;
  display: block;
}

