/* 
- Family: [Kumbh Sans](https://fonts.google.com/specimen/Kumbh+Sans)
- Weights: 400, 700 
*/
/* page-containor*/

:root {
  --cl-pr-orange: hsl(26, 100%, 55%);
  --cl-pr-pale-orange: hsl(25, 100%, 94%);

  --cl-na-dark-blue: hsl(220, 13%, 13%);
  --cl-na-dark-gray-blue: #68707d;
  --cl-na-gray-blue: hsl(220, 14%, 75%);
  --cl-na-light-gray-blue: hsl(223, 64%, 98%);
  --cl-na-white: #ffffff;

  --cl-na-black-opacity75: hsla(0, 0%, 0%, 75%);
  --ff-main: "Kumbh Sans", sans-serif;

  --main-margin: 16rem;

  --spacing-s: 4.5rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: var(--ff-main);
}

img,
svg,
picture {
  max-width: 100%;
  display: block;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}

/* ======   Typography  ======  */

h1 {
  font-size: 4.4rem;
  line-height: 4.8rem;
  font-weight: 700;
  color: var(--cl-na-dark-blue);
}

h2 {
  font-size: 2.8rem;
  font-weight: 700;
  color: var(--cl-na-dark-blue);
}

h3 {
  font-size: 1.3rem;
  letter-spacing: 2px;
  font-weight: 700;
  color: var(--cl-pr-orange);
  text-transform: uppercase;
}

h4 {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--cl-na-dark-gray-blue);
}
h5 {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--cl-na-dark-blue);
}

p {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--cl-na-dark-gray-blue);
}

a,
a:visited,
a:focus {
  padding-top: 0.25rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--cl-na-dark-gray-blue);
  text-decoration: none;
}

/* ======   Utilities  ======  */

.u-S-margin-bot {
  margin-bottom: 2.7rem;
}
.u-M-margin-bot {
  margin-bottom: 3.2rem;
}

.u-line-through {
  text-decoration: line-through;
}
.u-inline {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.u-bolder {
  color: var(--cl-na-dark-blue);
  font-weight: 700;
}
.page-containor{
  max-width: 1400px;
  margin-inline: auto;
}

/* ======   NAV Bar  ======  */

/* link */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  margin-inline: auto;
  padding-inline: 2rem;
  margin-top: 2vh;
  @media only screen and (max-width: 50em){
    flex-direction: column;
    gap: 2rem;
    width: 100vw;
  }  
}
.nav__left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
  @media only screen and (max-width: 25em){
    flex-direction: column;
  } 
}
.website__links {
  width: min-content;
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  @media only screen and (max-width: 25em){
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  } 
}
.link {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 9rem;
}

.horRule {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  opacity: 0;
  border-bottom: 4px solid var(--cl-pr-orange);
  transform: translateY(4.3rem);
  transition: opacity 150ms;
}
.link:hover .horRule {
  opacity: 1;
}

.logo {
  justify-self: left;
}

.nav__right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  position: relative;
}

.cart-icon {
  cursor: pointer;
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.shoppingcart-widget {
  position: fixed;
  right: 0rem;
  top: 8rem;

  width: 36rem;
  height: 25rem;
  background-color: #ffffff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.411);
  border-radius: 1rem;
  z-index: 10;
}

.cart h5 {
  padding: 2rem;
}
.cart-resume-container {
  padding-inline: 2rem;
  height: calc(100% - 10rem);

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.cart-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 8rem);
}

.cart-resumer {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-notification {
  background-color: var(--cl-pr-orange);
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 700;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 1rem;
}

.resume-img {
  width: 5rem;
  height: 5rem;
  border-radius: 5px;
}

.resume-text {
  margin-inline: 1rem;
}

.avatar {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  outline: solid 2px transparent;
  transition: outline 150ms;
}
.avatar:hover {
  outline: solid 2px var(--cl-pr-orange);

  /* border: solid 2px var(--cl-pr-orange);
  */
}

hr {
  flex-basis: 100%;
  border-color: solid var(--cl-na-dark-gray-blue);
  opacity: 0.3;
}
.hr-nav {
  margin-top: 3rem;
}
.hr-cart {
  margin-top: 1rem;
}

/* ======   MAIN Block  gallery-main-img ======  */

main {
  margin-inline: var(--main-margin);
  margin-bottom: var(--spacing-s);
}

.main__container {
  position: relative;
  margin-top: var(--spacing-s);
  margin-bottom: var(--spacing-s);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  @media only screen and (max-width: 57em) {
    flex-direction: column;
  }
}

/* =   Gallery  =  */

.gallery {
  width: 100%;
  height: 100%;
  @media only screen and (max-width: 57em){
    height: 45rem;
    width: 80vw;
  }
}
.grid__gallery {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 45rem;
  min-width: 30rem;

  gap: 2rem;
  @media only screen and (max-width: 57em) {
    width: 100%;
    margin-inline: auto;
  }
}
.gallery-main-img {
  position: relative;
  aspect-ratio: 1/1;
  width: 100%;
  margin-bottom: 3.2rem;
  cursor: pointer;
  border-radius: 4rem;
}

.gallery-miniatures {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @media only screen and (max-width: 57em) {
    position: absolute;
    justify-content: center;
    flex-direction: column;
    top: 2rem;
    right: -4.5rem;
    width: 4rem;
    max-width: 8.8rem;
  }
}
.popup__Container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;

  background-color: hsla(219, 11%, 25%, 0.767);
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
}
.popup__mainImg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-height: 100vh;
  gap: 2rem;
}

.popup__top {
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup__top_img {
  height: 100%;
  max-height: 80vh;
  aspect-ratio: 1/1;
  cursor: pointer;
  border-radius: 4rem;
}
.popup__thumbnail {
  width: max-content;
  @media only screen and (max-width: 57em) {
    position: absolute;
    top: 20%;
    left: 0;
    height: 100%;
    max-width: 4rem;
  }
}
/*
  */

/* .onFocus__gallery .gallery-miniatures {
  justify-content: center;
  gap: 2rem;
  align-self: first baseline;
}
.onFocus__gallery .gallery-main-img {
  align-self: last baseline;
}



/* */

.gallery-miniatures {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
  align-items: center;
}

.gallery-thumbnail,
.gallery-thumbnail-selected {
  max-width: 8.8rem;
  border-radius: 2rem;
  cursor: pointer;
}

.gallery-thumbnail-selected {
  opacity: 0.5;
  border: 2px solid var(--cl-pr-orange);
}

.gallery-thumbnail:hover {
  opacity: 0.5;
}

/* =   Info  =  */

.product__price {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.old-price {
  flex-basis: 100%;
  opacity: 0.7;
  font-weight: 400;
}

.promotion {
  background-color: var(--cl-pr-pale-orange);
  padding: 0.3rem 0.6rem;
  border-radius: 3px;
  margin-left: 0.6rem;
}

.addRemoveItems {
  height: 5.6rem;
  width: 15.7rem;

  background-color: var(--cl-na-light-gray-blue);
  border-radius: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn__cart {
  background: none;
  border: none;
  font-size: 3rem;
  color: var(--cl-pr-orange);
  cursor: pointer;
  height: 100%;
  width: 4rem;
  z-index: 100;
}

.btn-number {
  font-weight: 700;
  color: var(--cl-na-dark-blue);
}

.product__add-cart {
  display: flex;
  gap: 2rem;
  width: 100%;
  height: 100%;
  @media only screen and (max-width: 35em){
    
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

}

.cta_btn_addToCart {
  background-color: var(--cl-pr-orange);
  height: 5.6rem;
  width: 27.2rem;
  color: var(--cl-na-white);
  text-decoration: none;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.6rem;
  position: relative;
}

.cta_btn_addToCart:hover,
.btn-checkout:hover {
  background-color: var(--cl-pr-orange);
  opacity: 0.5;
}

.cart-logo {
  object-fit: cover;
  background-image: url(./../public/images/icon-cart.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 1.6rem;
  width: 1.6rem;
  display: block;
}

/* === Pop up option ===  */
/* 
.onFocusContainer {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
} */

.onFocus-btn,
.onFocus-close {
  width: 4rem;
  height: 4rem;
  border: none;
  background: none;
  background-color: #ffffff94;
  border-radius: 50%;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}
.onFocus-btn {
  color: var(--cl-na-dark-blue);
  border: none;
  @media only screen and (max-width: 57em) {
    display: none;
  }
}

.onFocus-close {
  position: absolute;
  top: 4rem;
  right: 4rem;
}
.svg-fill {
  fill: var(--cl-na-dark-blue);
}
.onFocus-close:hover .svg-fill {
  fill: var(--cl-pr-orange);
}
.onFocus-btn:hover {
  fill: var(--cl-pr-orange);
  border: 2px solid var(--cl-pr-orange);
  background-color: #ffffff;
}

.btn-prev {
  transform: translateX(50%);
}
.btn-next {
  transform: translateX(-50%);
}

/* === Utility BTN ===  */

.btn-delete {
  background-color: transparent;
  border: none;
  margin: 0;
  cursor: pointer;
}

.btn-delete span {
  font-size: 1.5rem;
}

.btn-checkout {
  background: none;
  border: none;
  font-size: 1.6rem;
  color: white;
  background-color: var(--cl-pr-orange);
  cursor: pointer;
  width: 31.6rem;
  height: 5.6rem;
  border-radius: 1rem;
}

/* === Functionnality ===  */

.cartClosed {
  display: none;
  height: 0;
}
